
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdda47;
}

.navbar {
    width: 100%;
    height: 30px;
    background-color: #fdda47;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar #Kirana {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 0px 16px;
    text-decoration: none;
    font-size: 25px;
    
    & span{
    	color:green;
    }
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.container {
    margin-top: 60px; /* To account for the fixed navbar height */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 400px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input[type="submit"]{
  background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    padding: 15px 32px;
    font-size: 16px;
    margin:4px 2px;
    border-radius: 12px;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 5px 10px;
    font-weight: 200;
    width: 100%;
    
}
input[type="submit"]:hover{
  background-color:#45a049;
    transform:scale(1.05);
}

input[type="text"],
input[type="number"],
input[type="password"] 
{
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 10px; /* Curvier border */
    background-color: #fff; 
    border: 1px solid #ccc; /* Slightly darker border */
    outline: none;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder {
    color: grey;
}

input[type="text"]:focus::placeholder,
input[type="password"]:focus::placeholder {
    color: transparent; /* Hide placeholde*/
}


input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
