
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.navbar {
    width: 100%;
    background-color: #fdda47;
    overflow: hidden;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
}

.navbar input[type="text"] {
    padding: 10px;
    margin: 5px;
    border-radius: 15px; /* Curvier border */
    background-color: #fff; /* Light grey background */
    border: 1px solid #ccc; /* Slightly darker border */
    outline: none;
    width: 200px;
}

.navbar input[type="text"]::placeholder {
    color: #000;
}

.navbar a {
    float: left;
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
	background-color: #F2CF44;
	border-radius: 5px;
    color: green;
}

.container {
    margin-top: 80px; /* To account for the fixed navbar height */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    max-width: 800px;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

table thead {
    background-color: green;
    color: white;
}

table th, table td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
}

table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

#hidden{
width: 0px;
margin: 0px;
padding: 0px;
}