body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.navbar {
    width: 100%;
    padding: 10px 0px;
    background-color: #fdda47;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: center;
}

.navbar a {
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    color: green;
}

/* Main container for product list and form */
main {
    display: flex;
    justify-content: space-between;
    padding: 80px 20px; /* Added padding for some spacing */
}

/* Styling the product list (left side) */
.product-list {
    width: 45%; /* Left half */
    margin-right: 20px;
}

.product-list table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
}

.product-list th, .product-list td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.product-list th {
    background-color: #fdda47;
}

.product-list td {
    font-size: 14px;
}

.product-list button {
    background-color: #fdda47;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.product-list button:hover {
    background-color: #ffc107;
    color: #000;
}

/* Styling for the form (right side) */
.container {
    width: 50%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.container h2 {
    margin-bottom: 20px;
}

form .form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="file"] {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 10px;
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    outline: none;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="file"]:focus {
    border-color: #66afe9;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button[name="updateProduct"], [value="update"] {
    width: 45%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; /* Green for Update */
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button[name="updateProduct"], [value="update"]:hover {
    background-color: #45a049;
}

button[name="updateProduct"], [value="delete"] {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f44336; /* Red for Delete */
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button[name="updateProduct"], [value="delete"]:hover {
    background-color: #e41f1f;
}